@import 'src/assets/styles/mixin';
@import 'src/assets/styles/variable';
@import 'src/assets/styles/reset';

.root {
}
.App {
  font-family: Montserrat, "Open Sans", sans-serif;
  color: #464646;
  line-height: 1.4;
  margin: 0 auto;
}
.container-fluid{
  max-width: 1776px;
}
